{% extends 'base.html' %}
<html>
<head>
    <title>Services Page</title>
</head>
<body>
{% block content %}
    <h1 class="text-center">Available Courses</h1>
<table class="table table-bordered text-center text-white">
    <thead>
        <tr class="bg-danger">
            <th>Course Name</th>
            <th>Start Date</th>
            <th>Duration</th>
            <th>Timings</th>
            <th>Fee</th>
            <th>Faculty Name</th>
        </tr>
    </thead>
    <tbody>
        <tr class="bg-warning">
            <td>Python</td>
            <td>11-04-2019</td>
            <td>45 Days</td>
            <td>10am-11.30am</td>
            <td>2000/-</td>
            <td>Narayana</td>
        </tr>
        <tr class="bg-primary">
            <td>Django</td>
            <td>12-04-2019</td>
            <td>60 Days</td>
            <td>4pm-6pm</td>
            <td>2000/-</td>
            <td>Narayana</td>
        </tr>
        <tr class="bg-success">
            <td>REST API</td>
            <td>13-04-2019</td>
            <td>30 Days</td>
            <td>6pm-7.30pm</td>
            <td>2000/-</td>
            <td>Srinivas</td>
        </tr>
        <tr  class="bg-info">
            <td>UI</td>
            <td>13-04-2019</td>
            <td>45 Days</td>
            <td>6pm-7.30pm</td>
            <td>1000/-</td>
            <td>Narayana</td>
        </tr>
        <tr class="bg-dark">
            <td>Flask</td>
            <td>15-04-2019</td>
            <td>60 Days</td>
            <td>6pm-7.30pm</td>
            <td>3000/-</td>
            <td>Srinivas</td>
        </tr>
    </tbody>
</table>
{% endblock %}
</body>
</html>