{% extends 'base.html' %}
<html>
<head>
    <title>Home Page</title>
</head>
<body>
{% block content %}
<dl>
    <dt class="font-weight-bold">About Founder:   </dt>
    <dd> Content About Founder</dd>
    <dt class="font-weight-bold">About DurgaSoft:</dt>
    <dd>Content About Institute</dd>
    <dt class="font-weight-bold">Achievements:  </dt>
    <td>
        <ol>
            <li>Somany students placed in MNCs in the world.</li>
            <li>Somany students placed in MNCs in the world.</li>
            <li>Somany students placed in MNCs in the world.</li>
            <li>Somany students placed in MNCs in the world.</li>
            <li>Somany students placed in MNCs in the world.</li>
            <li>Somany students placed in MNCs in the world.</li>
        </ol>
    </td>
</dl>
{% endblock %}
</body>
</html>